html{
	box-sizing: border-box;
	font-family: sans-serif;
	font-size: 16px;/*1rem*/
}

*,
*:after,
*:before {
	padding: 0;
	margin: 0;
	box-sizing: inherit;
}

/*Resetear principales etiquetas*/

*{
	margin:0;
	padding:0;
	list-style:none;
	text-decoration:none;
	/*REVISAR*/
	/*font-size:16px;
	font-size:1em;
	border:0;
	box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;*/
}
